* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%; 
  background: linear-gradient(0deg, rgba(97,75,150,1) 0%, rgba(200,183,183,1) 100%, rgba(255,0,234,1) 100%, rgba(10,228,199,1) 100%);
}

.home-page h1{
  font-family: Trebuchet, sans-serif;
  font-size: 7.5rem;
  margin-top: 12.5rem;
  text-align: center;
  color: black;
}

.home-page p {
  font-family: Trebuchet, sans-serif;
  font-size: 1.875rem;
  margin-top: 1.25rem;
  text-align: center;
  max-width: 81.25rem; 
  margin: 20px auto; 
  line-height: 1.5; 
  white-space: normal; 
  overflow-wrap: break-word; 
  color: black;
}

.home-page nav ul {
  list-style-type: none;
  display: flex; flex-wrap: wrap; align-items: flex-start;
  gap: 12.5rem;
  justify-content: center;
}

.home-page nav ul li {
  margin-top: 60px;
}

.home-page nav ul li a{
  font-weight: bold; font-family: trebuchet, sans-serif; font-size: 50px;
  text-decoration: none;
  color: black;
  padding: 0.625rem;
  transition: background-color 0.3s ease;
  width: 100%; gap: 6.25rem;
}

.home-page nav ul li a:hover {
  background-color: #baa6cb;
  border-radius: 10px;
}

