* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(0deg, rgba(97,75,150,1) 0%, rgba(200,183,183,1) 100%, rgba(255,0,234,1) 100%, rgba(10,228,199,1) 100%);
    font-family: Trebuchet, sans-serif;
  }

  body h1 {
    font-size: 3.125rem;
    text-align: center;
    color: black;
  }
  
  header {
    color: black;
    padding: 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
  }
  
  header .logo {
    font-size: 1.875rem;
    font-weight: bold;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
  }
  
  header nav ul li{
    margin-left: 1.875rem;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.625rem;
    transition: background-color 0.3s ease;
  }
  
  header nav ul li a:hover {
    background-color: #dbd3e2;
    border-radius: 10px;
  }

.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.875rem; margin-top: 1.25rem;
    flex-direction: row;
    background-color: rgba(236, 240, 240, 0.2); /* 0.8 means 80% opacity */
    backdrop-filter: blur(10px);
}

.topbar nav ul {
    list-style-type: none;
    display: flex;
}

.topbar nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.875rem;
    font-weight: bold;
    margin: 0.625rem;
    padding: 0.625rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.topbar nav ul li a:hover {
    background-color:#dbd3e2;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.25rem;
}

.content .box {
    width: 90%;
    min-height: 12.5rem; 
    background-color: rgba(236, 240, 240, 0.2); 
    backdrop-filter: blur(10px);
    padding: 1.25rem;
    display: flex;
    border-radius: 10px;
    margin: 1.25rem;
    overflow-wrap: break-word; 
    text-align: center;
    flex-direction: column;
    height: auto; 
}

.content .box h1 {
    font-size: 2.5rem;
    color: black;
}

.content .box ul {
    padding-left: 1.25rem;
}

.content .box ul li {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    text-align: left;
    line-height: 1.6;
}

.content .box ul li a {
    text-decoration: none;
    color: inherit;
}

.content .box .btn {
    align-self: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 1.25rem;
    background-color: rgba(236, 240, 240, 0.2);
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.25rem;
    width: 12.5rem;
    margin-top: 1.25rem;
    transition: background-color 0.3s ease;
}

.content .btn:hover {
    background-color: #C6C6C6;
  }