* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(97,75,150,1) 0%, rgba(200,183,183,1) 100%);
    font-family: 'Trebuchet' , sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.titlebar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titlebar h1 {
    font-size: 2.5rem;
    color: black;
    justify-content: center;
    text-align: center;
    line-height: 6.25rem;
}

.main {
    display: flex;
}

.sidebar {
    width: 15.625rem;
    padding: 1.25rem;
    height: calc(100vh - 100px);
    position: fixed;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 1.25rem 0;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem; font-weight: bold;
    padding: 0.625rem;
    display: block;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.sidebar ul li a:hover {
    background-color: rgba(236, 240, 240, 0.3);
    padding-left: 0.9375rem;
}

.content-area {
    flex: 1;
    margin-left: 16.875rem; /* Adjust for sidebar width */
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.25rem;
}

.content-area ul li {
    margin-left: 2.5rem; margin-top: 0.3125rem;
    justify-content: left;
    text-align: left;
}

.content-area .numberlist {
    list-style-type: decimal;
    justify-content: left;
    text-align: left;
    margin-left: 2.5rem; margin-top: 0.3125rem;
}

.content-area ul li ul {
    list-style-type: circle;
    justify-content: left;
    text-align: left;
}

.normalbox, .rectangle, .longbox, .half-longbox, .smallbox, .horizontal-rectangle{
    background-color: rgba(236, 240, 240, 0.2); 
    backdrop-filter: blur(10px);
    border-radius: 0.625rem;
    color: black;
    padding: 1.25rem;
    text-align: center;
    width: 100%;
}

.normalbox {
    width: 37.5rem;
    height: 18.75rem;
}

.horizontal-rectangle {
    height: 43.75rem;
    width: 82.8125rem;
}

.smallbox {
    width: 25rem;
    height: 31.25rem;
}

.rectangle {
    width: 43.75rem;
    height: 43.75rem;
}

.longbox {
    width: 82.8125rem;
    height: 21.875rem;
}

.half-longbox {
    width: 43.75rem;
    height: 18.75rem;
}

h1 {
    margin-bottom: 0.625rem;
    justify-content: center;
}

.normalbox p, .rectangle p, .longbox p, .half-longbox p, .smallbox p, .horizontal-rectangle p{
    margin: 0.625rem;
    text-align: justify;
}

.imagebox {
    background: transparent;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 37.5rem; 
    height: 18.75rem; 
    overflow: hidden; 
}

.imagebox img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
}